extends ../../templates/layout.jade

block title
    | CSS Architecture - Specificity - Index

block header
    div(class='container')
        h1  Specificity Study

block content
    section(class="container t_padding-bottom-xs-4")
        article
        
            a(href='/index.html',class='margin-bottom-xs-4')
                | <i class="icon-back"></i>Back to index
                
            p attribute selector results is class and attribute have same specificity level
            
            // global bundle
            div(class="row  o_flex-grid t_padding-bottom-xs-4")
                div(class="col-xs-12  o_flex-grid__col")
                    | global .s_specificity-card
                div(class="col-xs-4  o_flex-grid__col")
                    div(class="s_specificity-card t_bgcolor-gray")
                        h2 title
                        p trump element is applied on this card, but does not block hover.
                        
                div(class="col-xs-4  o_flex-grid__col")
                    div(class="s_specificity-card s_specificity-card--hot")
                        h2 title
                        p .s_specificity-card<br> .s_specificity-card--hot
                
                div(class="col-xs-4  o_flex-grid__col")
                    div(class="s_specificity-card")
                        h2 title
                        p .s_specificity-card
            
            // card site
            div(class="row  o_flex-grid  t_padding-bottom-xs-4")
                div(class="col-xs-12  o_flex-grid__col")
                    | scoped site .s_specificity-card
                     
                div(class="col-xs-4  o_flex-grid__col")
                    div(class="t_bgcolor-gray"
                        class-site="s_specificity-card")
                        h2 title
                        p trump element is applied on this card, but does not block hover.
                        
                div(class="col-xs-4  o_flex-grid__col")
                    div(class-site="s_specificity-card s_specificity-card--hot")
                        h2 title
                        p [class-site~="s_specificity-card"]<br> [class-site~="s_specificity-card--hot"]
                
                div(class="col-xs-4  o_flex-grid__col")
                    div(class="s_specificity-green-before"
                        class-site="s_specificity-card" 
                        class-spa="s_specificity-card--cold")
                    
                        h2 mix
                        p [class-site~="s_specificity-card"]<br> [class-spa~="s_specificity-card--cold"]<br> <span class="s_specificity-green-before">.s_specificity-green-before</span>
                
                
            // card spa
            div(class="row  o_flex-grid")
                div(class="col-xs-12  o_flex-grid__col")
                    | scoped spa .s_specificity-card
                    
                div(class="col-xs-4  o_flex-grid__col")
                    div(
                        class="t_bgcolor-gray" 
                        class-spa="s_specificity-card")
                        h2 title
                        p trump element is applied on this card, but does not block hover.
                        
                div(class="col-xs-4  o_flex-grid__col")
                    div(class-spa="s_specificity-card s_specificity-card--cold")
                        h2 title
                        p [class-spa~="s_specificity-card"]<br> [class-spa~="s_specificity-card--cold"]
                
                div(class="col-xs-4  o_flex-grid__col")
                    div(class="s_specificity-purple-after" class-spa="s_specificity-card")
                        h2 title
                        p [class-spa~="s_specificity-card"]<br> <span class="s_specificity-purple-after">.s_specificity-purple-after</span>
